.vscode
.idea
cmake-build-debug
CMakeLists.txt
toolchains/*
!toolchains/README.md
software/random_res
sims/verilator/run_prog/single.log
*.o
*.d
~*
chip/soc_demo/nscscc-team/xilinx_ip/*/gen
fpga/nscscc-team/run_vivado/*.dmp
fpga/nscscc-team/run_vivado/*.log
fpga/nscscc-team/run_vivado/project
fpga/loongson/2023.2/system_run.cache/
fpga/loongson/2023.2/system_run.hw/
fpga/nscscc-team/software/perf/bench/*/*.a
chip/soc_demo/nscscc-team/uart_debug/testbench
sims/verilator/run_prog/log
sims/verilator/run_prog/obj
sims/verilator/run_prog/obj_dir
sims/verilator/run_prog/tmp
sims/verilator/run_prog/config-software.mak
sims/verilator/run_prog/config-generator.mak
sims/verilator/run_prog/config.log
sims/verilator/run_prog/output
sims/verilator/run_random/log
sims/verilator/run_random/config-generator.mak
obj/
software/examples/random_res
compile_commands.json
sims/verilator/.cache/clangd/index/*.*
inst_data.bin
.Xil
*.a
convert
*.fst
*.vcd
# Local simulation/build workspaces
sims/verilator/.*_*/

# Vivado generated outputs (project sources remain tracked)
fpga/loongson/2023.2/system_run.ip_user_files/
fpga/loongson/2023.2/system_run.runs/
fpga/loongson/2023.2/*.jou
fpga/loongson/2023.2/*.tmp

# Generated Xilinx IP products; keep source .xci/.xcix and project scripts
IP/xilinx_ip/**/.Xil/
IP/xilinx_ip/**/hdl/
IP/xilinx_ip/**/synth/
IP/xilinx_ip/**/sim/
IP/xilinx_ip/**/simulation/
IP/xilinx_ip/**/misc/
IP/xilinx_ip/**/doc/
IP/xilinx_ip/**/mig_axi_32/
IP/xilinx_ip/**/*.gen/
IP/xilinx_ip/**/*.hw/
IP/xilinx_ip/**/*.cache/
IP/xilinx_ip/**/*.runs/
IP/xilinx_ip/**/*.ip_user_files/
IP/xilinx_ip/**/*.dcp
IP/xilinx_ip/**/*_sim_netlist.v
IP/xilinx_ip/**/*_sim_netlist.vhdl
IP/xilinx_ip/**/*_stub.v
IP/xilinx_ip/**/*_stub.vhdl
IP/xilinx_ip/**/*.veo
IP/xilinx_ip/**/*.vho
IP/xilinx_ip/**/*.sveo
IP/xilinx_ip/**/*.xml
IP/xilinx_ip/**/*.xpr
IP/xilinx_ip/**/xil_txt.in
IP/xilinx_ip/**/xil_txt.out
IP/xilinx_ip/**/summary.log

# Compiled software images
*.elf
software/examples/linux/vmlinux
*.txt
!software/examples/linux/init_5f.txt
!software/examples/linux/init_8f.txt
*.fst.hier
*.log
